{% extends 'blog/base.html' %}


{% block slider %}
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/bg_1.jpg');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <h1 class="mb-3 bread">ADD COMMENT</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'blog-home' %}">Home <i
                class="ion-ios-arrow-forward"></i></a></span> <span>Add comment <i class="ion-ios-arrow-forward"></i></span>
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block content %}



<div class="row d-flex justify-content-center ">
  <div class="col-md-5 ">
    <h2>Add comment to post</h2>
    <form method="POST" class="post-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="save btn btn-warning add-comment-buttonА btn-block">Send</button>
  </form>
      <!-- <div class="border-top pt-3">
          
      </div> -->

    

  </div>
</div>



  

{% endblock %}